.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  
  .social-icons a {
    margin: 0 10px;
  }

  .social-icons a:hover {
   color: rgb(115, 22, 22);
    opacity: 0.5;
  }
  
  .modal-info button:hover {
   color: rgb(115, 22, 22);
    opacity: 0.5;
  }
  
