<div class="bg-cover bg-center h-63 mb-4" >
    <div class="text-center text-5xl font-bold text-black pt-32">
        Wilhelm Groth
    </div>
    <div class="text-center text-2xl text-black">
        Front-end developer
      
        <ul class="list-none">
            <li class="text-lg mt-3" [class.animate__fadeIn]="currentIndex === i" [class.hidden]="currentIndex !== i" *ngFor="let item of items; let i = index;">
              {{item}}
            </li>
          </ul>

    </div>
    <div>
        
    </div>
  </div>
  

  <div class="social-icons">
    <a href="https://github.com/wilhelmgrothbl" target="_blank">
        <fa-icon [icon]="faIcons[0]" size="2x"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/wilhelm-groth-bab387253/" target="_blank">
        <fa-icon [icon]="faIcons[1]" size="2x"></fa-icon>
    </a>
    <a href="https://www.instagram.com/wilhelmgroth" target="_blank">
        <fa-icon [icon]="faIcons[2]" size="2x"></fa-icon>
    </a>
    <a href="tel:+46725128254">
        <fa-icon [icon]="faPhone"></fa-icon>
      </a>
  </div>
  
  <div class="modal-info rounded-full align-middle mt-5">
    <div class="font-sans text-2xl text-center">

        <a class="btn rounded-lg" href="#link" (click)="openModal()">
            <i>W</i><i>h</i><i>o</i><i></i><i></i>
            <i>a</i><i>m</i><i></i>
            <i></i><i>i</i>?<i></i><i></i><i></i><i></i>
          </a>
        
  
        <app-modal *ngIf="showModal" (close)="closeModal()"></app-modal>
      
       

      </div>
  </div>
 