.my-card-background {
    background-color: rgb(72, 45, 10);
}

.social-icons-project {
    display: flex;
  }

  .social-icons-project a {
    justify-content: space-between;
    margin: 3px;
    padding: 3px;
  }
  
  .social-icons-project a:hover {
   color: rgb(115, 22, 22);
    opacity: 0.5;
  }
  
  .rotate-icon {
    transform: rotate(30deg)!important;
}
